@import "tailwindcss";

:root {
  --color-primary: #6366f1;
  --color-accent-lime: #a3e635;
  --color-accent-yellow: #fde047;
  --color-accent-pink: #f472b6;
  --font-sans: 'Inter', sans-serif;
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@theme {
  --font-display: "Inter", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --color-primary: #6366f1;
  --color-accent-lime: #a3e635;
  --color-accent-yellow: #fde047;
  --color-accent-pink: #f472b6;
  --color-accent-purple: #8b5cf6;
  --color-accent-blue: #3b82f6;
  --color-accent-green: #22c55e;
}

body {
  font-family: var(--font-sans);
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(135deg, var(--color-primary), var(--color-accent-lime));
}